.chat{
    background-color: grey;
    border-bottom: 1px solid burlywood;
    margin-bottom: .5rem;
    padding: 1rem;
}
.newchat{
    position: fixed;
    right: 30px;
    font-size: 1.5rem;
    bottom: 30px;
    padding: 1rem 1.5rem;
    background-color: burlywood;
    color: white;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
    &:hover{
        transform: scale(1.1);
        border: 1px solid gray;
        box-shadow: 4px 3px 1px 0px black;
    }
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;


    & input,
    textarea{
        padding: .5rem 1rem;
    }
    & button{
        padding: .5rem 0;
    }
}