<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
    <link rel="stylesheet" href="/user.css">
</head>

<body>
    <h1>USERS</h1>
    <div class="heading">
        <span>Name</span>
        <span>Email</span>
    </div>
    <div class="container">
        <% for (user of users){ %>
            <div class="user">
                <span>
                    <%=user.username%>
                </span>
                <span>
                    <%=user.email%>
                </span>
                <form action="/user/<%=user.id%>/edit" method="get">
                    <button type="submit">:</button>
                </form>
            </div>
            <%}%>
    </div>
</body>

</html>